html, body{
	font-family: Arial, sans-serif;
	margin: 0;
}

header{
	background-color: #64bfef;
	background-image: url('../img/header-back.jpg');
	background-repeat:repeat;
	padding: 40px;
	text-align: center;
}

h1{
	font-style: 90px;
	color: white;
	text-shadow: 0 4px 20px black;
	margin: 0;
	text-transform: uppercase;
}

header img{
	border-radius: 150px;
	border: 10px solid #ff9980;
	box-shadow: 0 10px 20px black;
}

.content{
	max-width: 800px;
	margin: 0 auto;
	padding: 0;

}

img.big-image{
	max-width: 100%;

}

p.caption{
	font-size: 16px;
	color: lightgrey;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;

}

a{
	color: red;
	text-decoration: none; 

}

footer{
	margin: 20px;
	padding: 40px 20px;
	background-color: #E6E6E6;
}


footer ul{
	text-align: center;
	margin: 20px;
}
footer ul li{
	display: inline-block;
	margin: 0 5px;

}
/*<header>
		<img src="img/profile.jpg">
		<h1>Stitch</h1>
	</header>*/


	/* <div class="content"> 
		<h2>About Stitch</h2>
		<p>Stitch is a blue creature also known as Experiment 626 who is adopted by a human girl named Lilo Pelekai. </p>
		<h2>Stitch's characteristics</h2>
		<ol>
			<li>He's rad</li>
			<li>He's abnormally strong</li>
			<li>He's absolutely adorable</li>
		</ol>
		<img class="big-image" src="img/big-image.jpg">
		<p class="caption">This is Stitch</p>
		<h2>Stich's friends</h2>
		<ul>
			<li><a href="https://liloandstitch.fandom.com/wiki/Lilo_Pelekai" target="_blank" title="Visit Lilo's page"> Lilo Pelekai</li>
			<li><a href="https://liloandstitch.fandom.com/wiki/Jumba_Jookiba" target="_blank" title="Visit Jumba's page">  Dr. Jumba Jookiba</a></li>
			<li><a href="https://liloandstitch.fandom.com/wiki/Wendy_Pleakley" target="_blank" title="Visit Wendy's page"> Wendy Pleakley</a></li>
		</ul>

	</div>*/ 